@import url('https://fonts.googleapis.com/css2?family=Karla:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
* {
  box-sizing: border-box;
}

:root {
  --primary: rgba(221, 221, 221, 0.835);
  --dark: #0e3741;
  --light: rgb(29, 181, 207);
}

html {
  box-sizing: border-box;
  font-family: 'Karla', 'Roboto', sans-serif;
  color: var(--dark);
}

.intro-container {
  display: grid;
  grid-template-columns: repeat(2, auto);
  grid-gap: 1%;
}

#about .btn {
  background: var(--light);
  color: var(--dark);
  padding: 0.6rem 1.3rem;
  text-decoration: none;
  margin: 10px;
}

img {
  max-width: 100%;
}

.page {
  display: grid;
  grid-gap: 10px;
}
nav {
  overflow: hidden;
  background-color: black;
}
#nav ul {
  display: grid;
  grid-gap: 1%;
  padding: 0;
  list-style: none;
  grid-template-columns: 1fr 1fr 1fr 1fr 3.4fr;
}

#nav a {
  background: var(--primary);
  display: block;
  text-decoration: none;
  padding: 1rem;
  text-align: center;
  color: var(--dark);
  font-size: 1.1rem;
  box-shadow: var(--shadow);
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.introduction {
  min-height: 400px;
  background: url(media/me.png);
  background-size: cover;
  background-position: center;
  padding: 3rem;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
}

.introduction h1 {
  font-size: 4rem;
  margin-bottom: 0;
  color: var(--primary);
}

.introduction p {
  font-size: 1.3rem;
  margin-top: 0;
  color: var(--primary);
}
.socials {
  display: grid;
  grid-template-columns: repeat(4, auto);
  padding: 2%;
}

.skills-container {
  display: grid;
  gap: 1%;
  grid-template-columns: repeat(6, auto);
}
.headings {
  text-align: center;
  font-size: xx-large;
  color: var(--dark);
}

.skill,
#about {
  background: var(--primary);
  text-align: center;
  padding: 1.5rem 2rem;
  box-shadow: var(--shadow);
}
.skill:hover,
#nav a:hover,
input:hover {
  background-color: var(--light);
}
#skills {
  color: var(--light);
}

#projects {
  color: var(--light);
}

.projects-box {
  display: grid;
  grid-template-columns: repeat(3, auto);
  grid-template-rows: repeat(3, auto);
  background: var(--primary);
  text-align: center;

  grid-gap: 0.5%;
}
.projects {
  border-color: var(--light);
  border-style: solid;
  border-width: thin;
}

input[type='text'],
input[type='email'] {
  width: 50%;
  padding: 1%;
  font-size: large;
  border-color: var(--light);
  border-style: solid;
  border-width: thin;
}
textarea {
  width: 50%;
  border-color: var(--light);
  border-style: solid;
  border-width: thin;
}
#buttons input {
  width: fit-content;
  padding: 1% 6%;
}

#my_form {
  text-align: center;
  background: var(--dark);
  border-style: solid;
  border-width: thin;
  border-color: var(--light);
}
footer {
  background: black;
  color: var(--light);
  text-align: center;
  padding: 3%;
}
@media only screen and (max-width: 1200px) {
  .skills-container {
    grid-template-columns: repeat(3, auto);
  }
  .intro-container {
    grid-template-columns: auto;
  }
}

@media only screen and (max-width: 900px) {
  .skills-container {
    grid-template-columns: repeat(2, auto);
  }
  #nav ul {
    grid-template-columns: auto;
  }

  .projects-box {
    grid-template-columns: auto;
  }
}
@media only screen and (max-width: 600px) {
  .skills-container {
    grid-template-columns: repeat(1, auto);
  }
  #nav ul {
    grid-template-columns: auto;
  }

  .projects-box {
    grid-template-columns: auto;
  }
}
